* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: rgb(166, 195, 249);
}

#title{
    text-align: center;
    padding-top: 10px;
}

.title-section{
    width: auto;
    height: 65px;
    background-color: beige;
}
