*{
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: aquamarine;
}

.navbar-list{
  display: flex;
  width: 50%;
  justify-content: space-around;
  list-style-type: none;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}