body{
    background-color: #fae9d6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.container{
    width: 300px;
    height: 250px;
    background-color: white;
    padding-left: 25px;
    margin-top: 200px;
    border: solid gray;
    box-shadow: 2px 2px;
}

input{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}

label{
    font-weight: bold;
}

button{
    background-color: #037dff;
    width: 80%;
    color:white;
    border-color: #037dff;
    height:25px;
    border-style: none;
    transition-duration: 1s;
    border-radius: 5px;
   text-align: center;
}

button:hover{
    width: 90%;
    height: 45px
}
