html, body{
    height: 100%;
    margin: 0;
    font-size: 0;
}

#row1 {
    display: inline-block;
    border: 2px solid white;
    width: 100%;
    background-color: #F5C6D6;
    height: 25%;
}

.row2{
    display: inline-block;
    border: 2px solid white;
    width: 25%;
    background-color: #EE2E84;
    height: 100px;
    font-size: 16px;
}