span{
    display: block;
    font-size: 24px;
    text-align: center;
}
h4 {
    display: inline-block;
}

h1{
    text-align: center;
}

img{
    height:150px;
    width:150px;
    display: block;
    margin: 25px auto;
}

.container{
    display: flex;
    justify-content: center;
}

.container div{
    margin:50px;
    background-color: antiquewhite;
    height:400px;
    width: 90%
   
}

input{
    display: block;
    margin: 0 auto;
}

body{
    background-image: url("/img/860645.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 80px; /* Space for footer */
}

body > div {
    flex: 1;
}

#submit{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.total{
    text-align: center;
    font-size: 28px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    width: 80%;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    text-align: center;
    
    
}
