.container{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    gap: 10px;
}

.box1{
     width: 300px;
    height: 300px;
    background-color: aquamarine;
   transition-duration: 1s;
}

.box1:hover{
    background-color: orange;
    width: 400px;
}


.box2{
     width: 300px;
    height: 300px;
    background-color: blue;
    transition-timing-function: linear;
    transition-duration: 1s;
    
}

.box2:hover{
   border: 5px solid brown;
   border-radius: 10px;
   box-shadow: 10px 10px;
}


.box3{
    width: 300px;
    height: 300px;
    background-color: red;
    transition-duration: 1s;
    
}

.box3:hover{
  opacity: 50%;
  height: 400px;
  
}


.box4{
     width: 300px;
    height: 300px;
    background-color: purple;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    
}

.box4:hover{
 background-color: royalblue;
 height:600px;
  
}

.box5{
     width: 300px;
    height: 300px;
    background-color: green;
    
}

.box6{
     width: 300px;
    height: 300px;
    background-color: yellow; 
}





